<form class="form-horizontal" role="form">
	<div class="col-lg-4">
    <input type="text" class="form-control" id="name" ng-model="recipe.name">
	</div>
<br />
<br />

	<table class="table table-striped">
		<thead>
			<tr>
				<td>Marque</td>
				<td>Nom</td>
				<td>Quantité</td>
				<td>Calories</td>
				<td>Protéines</td>
				<td>Glucides</td>
				<td>Lipides</td>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="fr in recipe.foods">
				<td>{{fr.brand}}</td>
				<td>{{fr.name}}</td>
				<td ng-show="!editQuantity[fr.id]">{{fr.quantity}} {{fr.unit}}<span ng-if="fr.unit != '' && fr.quantity > 1 && fr.unit !== null && ['g', 'ml'].indexOf(fr.unit) == -1">s</span></td>
				<td ng-show="editQuantity[fr.id]" style="padding: 4px 8px">
					<div class="form-inline">
						<input type="text" class="form-control input-sm add_food_quantity" ng-model="fr.quantity" ng-enter="saveEdit($event, fr)">
						<a href="#" ng-click="saveEdit($event, fr.id)" style="padding-top: 2px"><span class="glyphicon glyphicon-ok"></span></a>
					</div>
				</td>
				<td>{{fr.calories | noZeroDecimal}}</td>
				<td>{{fr.proteins | noZeroDecimal}}</td>
				<td>{{fr.carbohydrates | noZeroDecimal}}</td>
				<td>{{fr.lipids | noZeroDecimal}}</td>
				<td style="width: 40px"><a href="#" ng-click="showEdit($event, fr.id)"><span class="glyphicon glyphicon-pencil"></span></a></td>
				<td style="width: 40px"><a href="#" ng-click="delete($event, fr.id)"><span class="glyphicon glyphicon-trash"></span></td>
			</tr>
			<tr>
				<td></td>
				<td>
					<input type="text" class="form-control input-sm" ng-model="food" typeahead="food as food.name for food in foodsList | filter:$viewValue" placeholder="Aliment">
				</td>
				<td>
					<div class="form-inline">
						<input type="text" class="form-control input-sm" ng-model="quantity" ng-enter="addEntry($event, food, quantity)" placeholder="100 g" style="width: 100px"> <a href="#" ng-click="addEntry($event, food, quantity)"><span class="glyphicon glyphicon-ok"></span></a>
					</div>
				</td>
				<td>{{recipe.calories}}</td>
				<td>{{recipe.proteins}}</td>
				<td>{{recipe.carbohydrates}}</td>
				<td>{{recipe.lipids}}</td>
				<td></td>
				<td></td>
			</tr>
		</tbody>
	</table>
	<a class="btn btn-default" href="#/recipes">Retour</a>
</form>
