<h3>{{recipe.name}}</h3>

<table class="table table-striped">
	<thead>
		<tr>
      <td ng-click="changeSorting('brand')" class="pointer">Marque <span ng-show="sort == 'brand'"><span ng-show="!reverse">↑</span><span ng-show="reverse">↓</span></span></td>
      <td ng-click="changeSorting('name')" class="pointer">Nom <span ng-show="sort == 'name'"><span ng-show="!reverse">↑</span><span ng-show="reverse">↓</span></span></td>
      <td ng-click="changeSorting('quantity')" class="pointer">Quantité <span ng-show="sort == 'quantity'"><span ng-show="!reverse">↑</span><span ng-show="reverse">↓</span></span></td>
      <td ng-click="changeSorting('calories')" class="pointer">Calories <span ng-show="sort == 'calories'"><span ng-show="!reverse">↑</span><span ng-show="reverse">↓</span></span></td>
      <td ng-click="changeSorting('proteins')" class="pointer">Protéines <span ng-show="sort == 'proteins'"><span ng-show="!reverse">↑</span><span ng-show="reverse">↓</span></span></td>
      <td ng-click="changeSorting('carbohydrates')" class="pointer">Glucides <span ng-show="sort == 'carbohydrates'"><span ng-show="!reverse">↑</span><span ng-show="reverse">↓</span></span></td>
      <td ng-click="changeSorting('lipids')" class="pointer">Lipides <span ng-show="sort == 'lipids'"><span ng-show="!reverse">↑</span><span ng-show="reverse">↓</span></span></td>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="fr in recipe.foods | filter:query | orderBy:sort:reverse">
			<td>{{fr.brand}}</td>
			<td>{{fr.name}}</td>
			<td>{{fr.quantity}} {{fr.unit}}</td>
			<td>{{fr.calories | noZeroDecimal}}</td>
			<td>{{fr.proteins | noZeroDecimal}}</td>
			<td>{{fr.carbohydrates | noZeroDecimal}}</td>
			<td>{{fr.lipids | noZeroDecimal}}</td>
		</tr>
		<tr>
			<td colspan="3"></td>
			<td>{{recipe.calories}}</td>
			<td>{{recipe.proteins}}</td>
			<td>{{recipe.carbohydrates}}</td>
			<td>{{recipe.lipids}}</td>
		</tr>
	</tbody>
</table>
<a class="btn btn-default" href="#/recipes">Retour</a>
