<form class="form-horizontal" role="form" ng-submit="update()" style="width: 40%; margin: auto">
	<div class="form-group" ng-class="{'has-error': datepickerForm.date.$invalid}">
		<label for="date" class="col-sm-2 control-label t-left">Date</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" id="date" ng-model="goal.date" style="width: 200px" data-date-format="yyyy-MM-dd" data-autoclose="true" bs-datepicker>
		</div>
	</div>
	<div class="form-group">
		<label for="calories" class="col-sm-2 control-label t-left">Calories</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" id="calories" ng-model="goal.calories" style="width: 100px">
		</div>
	</div>
	<div class="form-group">
		<label for="proteins" class="col-sm-2 control-label t-left">Protéines</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" id="proteins" ng-model="goal.proteins" style="width: 100px">
		</div>
	</div>
	<div class="form-group">
		<label for="carbohydrates" class="col-sm-2 control-label t-left">Glucides</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" id="carbohydrates" ng-model="goal.carbohydrates" style="width: 100px">
		</div>
	</div>
	<div class="form-group">
		<label for="lipids" class="col-sm-2 control-label t-left">Lipides</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" id="lipids" ng-model="goal.lipids" style="width: 100px">
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button type="submit" class="btn btn-default">Sauvegarder</button>
		</div>
	</div>
</form>
<a class="btn btn-default" href="#/goals">Retour</a>
